<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <table>
          <tr>
            <th>Kap Adı</th>
            <th>Dara(gr)</th>
            <th>Toplam</th>
            <th>Ürün(raw)</th>
            <!-- <th>İstenen Miktar(raw)</th>
            <th>Tartıda Yazacak</th> -->
          </tr>
          <% pods.forEach(pod => { %>
          <tr
            class="lightOnHover"
            onclick="window.location='/pod/<%=pod._id%>';"
          >
            <td><%=pod.podName%></td>
            <td><%=pod.podFreeWeight%></td>
            <td><%=pod.podTotalWeight%></td>
            <td><%=pod.productRawAmount%></td>
            <!-- <td></td>
            <td></td> -->
          </tr>
          <% }) %>
          <!-- <tr>
            <td>2</td>
            <td>136</td>
            <td>756</td>
            <td>400</td>
            <td>50</td>
            <td>-</td>
          </tr> -->
        </table>
      </div>
    </section>
  </body>
</html>
