<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <table>
          <tr>
            <th>Kap Adı</th>
            <th>Dara(gr)</th>
            <th>Toplam</th>
            <th>Ürün(raw)</th>
            <th>İşlem</th>
          </tr>
          <% pods.forEach(pod => { %>
          <tr class="lightOnHover">
            <td><%=pod.podName%></td>
            <td><%=pod.podFreeWeight%></td>
            <td><%=pod.podTotalWeight%></td>
            <td><%=pod.productRawAmount%></td>
            <td>
              <button
                onclick="window.location='/pod/Take/<%=pod._id%>';"
                class="btnAddAndTake"
                id="btnTake"
              >
                Al
              </button>
              <button
                onclick="window.location='/pod/Put/<%=pod._id%>';"
                class="btnAddAndTake"
                id="btnAdd"
              >
                Ekle
              </button>
            </td>
          </tr>

          <% }) %>
        </table>
      </div>
    </section>
  </body>
</html>
