<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <table>
          <tr>
            <th>Kap Adı</th>
            <th>Dara(gr)</th>
            <th>Toplam</th>
            <th>Ürün(raw)</th>
            <th>İstenen Miktar</th>
            <th>Tartıda Yazacak</th>
          </tr>
          <tr class="lightOnHover">
            <td><%=pod.podName%></td>
            <td><%=pod.podFreeWeight%></td>
            <td><%=pod.podTotalWeight%></td>
            <td><%=pod.productRawAmount%></td>
            <td>
              <input
                class="full"
                autofocus
                type="number"
                id="requestedRawAmount"
              />
            </td>
            <td>
              <label id="result" for=""> </label>
            </td>
          </tr>
        </table>

        <button class="calculatePageBtn" id="calculateBtn">Hesapla</button>
        <button class="calculatePageBtn" id="saveBtn">Kaydet</button>
      </div>
    </section>

    <script>
      const podFreeWeight = parseInt("<%=pod.podFreeWeight%>");
      const podTotalWeight = parseInt("<%=pod.podTotalWeight%>");
      const productRawAmount = parseInt("<%=pod.productRawAmount%>");

      const calculateBtn = document.querySelector("#calculateBtn");
      calculateBtn.addEventListener("click", (e) => {
        const requestedRawAmount = document.querySelector(
          "#requestedRawAmount"
        ).value;

        let finalResult =
          podTotalWeight -
          ((podTotalWeight - podFreeWeight) / productRawAmount) *
            requestedRawAmount;

        document.querySelector("#result").innerHTML = finalResult;
      });

      const saveBtn = document.querySelector("#calculateBtn");
      saveBtn.addEventListener("click", (e) => {});
    </script>
  </body>
</html>
