<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <form>
          <table>
            <tr>
              <th>Kap Adı</th>
              <th>Dara(gr)</th>
              <th>Toplam</th>
              <th>Ürün(raw)</th>
            </tr>
            <tr class="lightOnHover">
              <td><%=pod.podName%></td>
              <td><%=pod.podFreeWeight%></td>
              <td>
                <input
                  class="full"
                  autofocus
                  type="number"
                  id="totalWeight"
                  required
                />
              </td>
              <td>
                <input
                  class="full"
                  autofocus
                  type="number"
                  id="rawWeight"
                  required
                />
              </td>
            </tr>
          </table>

          <button
            class="calculatePageBtn"
            id="putBtnTake"
            data-doc="<%=pod._id%>"
          >
            Ürün Ekle
          </button>
        </form>
      </div>
    </section>

    <script>
      const podFreeWeight = parseInt("<%=pod.podFreeWeight%>");

      const putBtnTake = document.querySelector("#putBtnTake");
      putBtnTake.addEventListener("click", (e) => {
        const endpoint = `/pod/update/${putBtnTake.dataset.doc}`;

        const podTotalWeight = parseInt("<%=pod.podTotalWeight%>");
        const productRawAmount = parseInt("<%=pod.productRawAmount%>");

        const totalWeight = podTotalWeight
          ? parseInt(document.querySelector("#totalWeight").value) +
            parseInt(podTotalWeight)
          : parseInt(document.querySelector("#totalWeight").value);

        const newProductRawAmount = productRawAmount
          ? parseInt(document.querySelector("#rawWeight").value) +
            parseInt(productRawAmount)
          : parseInt(document.querySelector("#rawWeight").value);

        let data = {
          productRawAmount: newProductRawAmount,
          podTotalWeight: totalWeight,
        };

        var inputTotal = parseInt(document.querySelector("#totalWeight").value);

        // alert(inputTotal);

        if (!inputTotal) {
          console.log("look here");
        }

        if (parseInt(document.querySelector("#totalWeight").value) === NaN) {
          alert("Hem Toplam hem de Ürün hücreleri doldurulmalıdır");
        }

        // console.log(data);
        // console.log(data.productRawAmount, data.podFreeWeight);

        fetch(endpoint, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.link))
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>

<!-- || parseInt(document.querySelector("#rawWeight").value) === NaN -->
