<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <table>
          <tr>
            <th>Kap Adı</th>
            <th>Dara(gr)</th>
            <th>Toplam</th>
            <th>Ürün(raw)</th>
            <th>İstenen Miktar(raw)</th>
            <th>Tartıda Yazacak</th>
          </tr>
          <tr class="lightOnHover">
            <td><%=pod.podName%></td>
            <td><%=pod.podFreeWeight%></td>
            <td><%=pod.podTotalWeight%></td>
            <td><%=pod.productRawAmount%></td>
            <td>
              <input
                class="full"
                autofocus
                type="number"
                id="requestedRawAmount"
              />
            </td>
            <td>
              <label id="result" for=""> </label>
            </td>
          </tr>
        </table>

        <button class="calculatePageBtn" id="calculateBtn">Hesapla</button>
        <button
          class="calculatePageBtn"
          id="saveBtnTake"
          data-doc="<%=pod._id%>"
        >
          Ürün Al
        </button>
      </div>
    </section>

    <script>
      const podFreeWeight = parseInt("<%=pod.podFreeWeight%>");
      const podTotalWeight = parseInt("<%=pod.podTotalWeight%>");
      const productRawAmount = parseInt("<%=pod.productRawAmount%>");

      const calculateBtn = document.querySelector("#calculateBtn");
      calculateBtn.addEventListener("click", (e) => {
        const requestedRawAmount = document.querySelector(
          "#requestedRawAmount"
        ).value;

        const finalResult =
          podTotalWeight -
          ((podTotalWeight - podFreeWeight) / productRawAmount) *
            requestedRawAmount;

        document.querySelector("#result").innerHTML = finalResult;
      });

      const saveBtnTake = document.querySelector("#saveBtnTake");
      saveBtnTake.addEventListener("click", (e) => {
        const endpoint = `/pod/update/${saveBtnTake.dataset.doc}`;

        const requestedRawAmount = document.querySelector(
          "#requestedRawAmount"
        ).value;

        const finalResult =
          podTotalWeight -
          ((podTotalWeight - podFreeWeight) / productRawAmount) *
            requestedRawAmount;

        let data = {
          productRawAmount: productRawAmount - requestedRawAmount,
          podTotalWeight: finalResult,
        };

        console.log(finalResult);
        console.log(data.productRawAmount, data.podFreeWeight);

        fetch(endpoint, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.link))
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
